<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pricheta</title>
</head>
<body>

    <div>Всем привет! Это мой сайт</div>
    <div><a href="{{ request.base_url }}docs">Ссылка на OpenAPI</a></div>


    <form action="auth/get_access_token" method="post">
        <label><b>login</b></label>
        <input id="login" type="text" placeholder="Введите логин" name="login" required>

        <label><b>password</b></label>
        <input id="password" type="password" placeholder="Введите пароль" name="password" required>

        <div id="loginButton">Login</div>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>

</body>
</html>